{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<br>
<div class="row">
    <div class="col-md-10">
        <div class="card card-body">

            <form action="" type="submit" method="POST">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                     <ul style="list-style-type: none">
                         <li>{{form}}</li>
                     </ul>
                {% endfor %}
                <input class="btn btn-sm btn-primary" type="submit" name="Submit">

            </form>

        </div>

    </div>

</div>

{% endblock%}